/* font from: https://www.dafont.com/pixels.font?text=High+Score */
@font-face {
    font-family: pixels;
    src: url(Pixels.ttf)
}

* {
    margin: 0;
    padding: 0;
    font-family: pixels;
}

/* .main-container {
    background-color: rgb(163, 163, 163);
    width: 80vw;
    height: 80vh;
    padding: 1vw;
    contain: content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.screen-container {
    background-color: rgb(46, 49, 146);
    width: 100vw;
    height: 100vh;
    contain: content;
    position: absolute;
    /* border-radius: 5vw; */
    touch-action: none;
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(111, 161, 107);
    width: 25vw;
    height: auto;
    border: 1vw solid rgb(34, 92, 40);
    contain: content;
    padding: 2.5vh 2.5vw 2.5vh 2.5vw;
    border-radius: 3vw;
    z-index: 3;
}
.popup > p {
    color: black;
    font-size: 8vmin;
    text-align: center;
    margin-top: 4vh;
}
#popupShade {
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 40%;
    z-index: 1;
    position: absolute;
}
.remove-popup {
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1vw solid rgb(0, 0, 0);
    border-radius: 3vw;
    width: 25vw;
    height: auto;
    text-align: center;
    font-size: 5vmin;
    font-weight: bold;
    margin-top: 3vh;
    padding: 2vh 0 2vh 0;
    margin-left: 50%;
    transform: translate(-50%,0);
}

.bridge {
    height: 100vh;
    width: auto;

    /* place in middle of x axis */
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
}
.bridge-pillar {
    height: 100vh;
    width: auto;
    position: absolute;
}

.car {
    width: 4vw;
    height: auto;
    position: absolute;
}

.character {
    contain: layout;
    position: absolute;
    bottom: 20vh;
    width: 2vw;
    height: auto;
}

#failCountText {
    position: absolute;
    left: 2vmin;
    font-weight: bold;
}

#highScoreText {
    margin-top: 5vmin;
    font-weight: bold;
}

#scoreText,#scoreShadow {
    position: absolute;
    /* font-family: Helvetica,Arial,sans-serif; */
    font-weight: bold;
    font-size: 20vmin;
    transform: translate(-50%,0);
    text-align: center;
}
#scoreText {
    color: rgb(38, 136, 69);
    left: 49.5%;
    top: 9.5vmin;
    z-index: 2;
}
#scoreShadow {
    left: 50%;
    top: 10vmin;
    z-index: 1;
}

.car-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
#tunnel {
    position: absolute;
    height: auto;
    left: 50%;
    transform: translate(-50%,0);
    display: none;
}

.bridge-filler-top, .bridge-filler-bottom {
    width: 95vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    display: none;
}
.bridge-filler-top {
    top: 0;
}
.bridge-filler-bottom {
    bottom: 0;
}

@media screen and (max-width: 414px) {
    .bridge,.car-container {
        width: 95vw;
    }
    .bridge-filler-bottom,.bridge-filler-top {
        display: flex;
    }
    .bridge-pillar {
        display: none;
    }
    #scoreText,#scoreShadow {
        font-size: 48vmin;
    }
    #scoreText {
        color: white;
        left: 48%;
        top: 6vmin;
    }
    #scoreShadow {
        color: rgb(99, 99, 99);
        top: 8vmin;
    }
    .popup {
        width: 70vw;
        height: 50vh;
    }
    #highScoreText {
        font-size: 15vmin;
    }
    .remove-popup {
        width: 40vw;
        font-size: 10vmin;
        margin-top: 10vh;
    }
}